.App {
    text-align: center;
   }
   .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
   }
   .App-header {
    background-color: #222; height: 150px; padding: 20px; color: white;
   }
   .App-title {
    font-size: 1.5em;
   }
   .App-intro {
    font-size: large;
   }

   @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
   }
   .centerize {
    width: 400px; height: 100px;
   position: absolute;
   top:0; bottom: 0;
   left: 0;
   right: 0; margin: auto;
   }
   .content {
    display: inline-block; padding: 20px;
   }
   h2{
    text-align: center;
   }
   html {
    border: 8px solid;
    height: auto;
    min-height: 100%;
    margin: 0;
   }
   .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
   .formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    padding-top: 2%;
   }
   .btnAddTask {
    height: 55px;
    width: 120px;
   }
   .todoListContainer {
    list-style-type: none;
    display: flex;
    flex-direction: column;
   }

   .todoListContainer li {
        background-color: #fff;
        box-shadow: 0 0 30px -12px rgba(50,50,93,.25), 0 20px 20px -18px rgba(0,0,0,.3);
        padding: 0px 30px;
        margin: 0px 0px 40px 100px;
        border-radius: 4px;
        position: relative;
        width: 80%;
        height: 80px;
        border-top: 1.5px solid #3f51b5;
   }

   .todoListContainer li div {
       display: inline;
   }

   .listItem {
    display: flex !important;
    flex-direction: row !important;
    height: 80px;
   }

   .listItem label {
    padding-top: 25px;
    padding-left: 200px;
    width: 150px;
    font-family: serif;
    font-size: larger;
   }

   .listItem button {
    margin-top: 15px;
    height: 50px;
    margin-left: 200px;
   }

   .btnClearTask {
    height: 55px;
    margin-left: 10em !important;
    width: fit-content;
    margin-top: 2em !important;
    margin-bottom: 1em !important;
   }